.elevator {
    width: 37.9%;
    height: 37.9%;
    /* object-fit:; */
    transition: 1s;
}

.up {
    width: 37.9%;
    height: 37.9%;
    transition: 1s;
    transform: translateY(-110px);
}

.down {
    width: 37.9%;
    height: 37.9%;
    transform: translateY(110px);
    transition: 1s;
}